<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <!--Tailwind ting-->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>RockPaperScissors</title>

</head>
<body>
    <div class="h-screen bg-neutral-800 text-white flex justify-center items-center"><div>These</div></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script></script>
</body>
</html>